extends ../layout/common
block content
    h1 Create User
    if errors
        for err in errors
            .alert.alert-success(role='alert')= err
    form(action="/user/create" method="post")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name" value= value?value.name:"")
        .form-group
            label(for="phone") Phone
            input#phone.form-control(type="text", name="phone" value = value?value.phone:"")
            
        button.btn.btn-default Create
