extends ../layout/common

block content

    a.btn.btn-primary.mb-3(href="/user/create") New


    form(action="/user/search" method="GET")
        .form-group.pr-2.d-flex
            input.form-control.pd-2(type="text" name="q" value = q)
            button.btn.btn-primary.ml-3 Search

    table.table.table-striped.table-light
        thead
            tr
            th(scope='col') Email
            th(scope='col') Avatar
            th(scope='col') Action
        tbody
        each user in users
            tr
            td= user.email
            td.rounded-circle
                img(src=user.avatar, alt='Smiley face', height='32', width='32')
            td 
                a(href="/user/") View
            td
