extends ../layout/common

block content

    a.btn.btn-primary.mb-3(href="user/create") New


    form(action="/user/search" method="GET")
        .form-group.pr-2.d-flex
            input.form-control.pd-2(type="text" name="q" value = q)
            button.btn.btn-primary.ml-3 Search

    table.table.table-striped.table-light
        thead
            tr
            th(scope='col') Name
            th(scope='col') Phone
            th(scope='col') Action
        tbody
        each user in users
            tr
            td= user.name
            td= user.phone
            td 
                a(href="/user/"+user.phone) View
            td
